<h1>HOME</h1>
<h3 class="text-danger">First name: <%= current_user.first_name %></h3>
<h3><%= current_user.email %></h3>

<%= link_to "Sign out", destroy_user_session_path, method: :delete %>

<%= link_to "Found an animal", new_animal_path %>
